body {
  background: #f8f8f8;
}

.preview {
  width: 9.36rem;
  background: #fff;
  border-radius: 0.133333rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.533333rem auto 0.72rem;
}

.tab-content {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0.2rem #f2f2f2;
  box-shadow: 0 0 0.2rem #f2f2f2;
  border-bottom: 0.013333rem solid #e3e3e3;
}

.tab-content .tab-content-l-item {
  height: 3.373333rem;
  border-radius: 0.133333rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0.2rem #f2f2f2;
  box-shadow: 0 0 0.2rem #f2f2f2;
}

.tab-content .tab-content-l-item .top-msg {
  height: 1.493333rem;
  background: #023473;
  padding: 0 0.306667rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #f8f8f8;
}

.tab-content .tab-content-l-item .top-msg .top-msg-list i {
  display: block;
  width: 0.866667rem;
  height: 0.866667rem;
  border-radius: 50%;
}

.tab-content .tab-content-l-item .top-msg .top-msg-list .icon-credit-pufa {
  background: url("../images/icon-bank/icon_credit_pufa.png") no-repeat;
  -o-background-size: contain;
  background-size: contain;
}

.tab-content .tab-content-l-item .top-msg .top-msg-list span {
  display: block;
  height: 0.506667rem;
  border-right: 0.013333rem solid #f2f2f2;
  font-size: 0.373333rem;
  padding: 0 0.146667rem;
}

.tab-content .tab-content-l-item .top-msg .top-msg-list b {
  font-weight: normal;
  padding: 0 0.266667rem 0 0.146667rem;
}

.tab-content .tab-content-l-item .bottom-msg {
  height: 1.88rem;
  background: #fff;
}

.tab-content .tab-content-l-item .bottom-msg li {
  -webkit-box-flex: 0.013333rem;
  -ms-flex: 0.013333rem;
  flex: 0.013333rem;
  height: 1.12rem;
  border-right: 0.013333rem solid #e3e3e3;
  font-size: 0.373333rem;
  text-align: center;
}

.tab-content .tab-content-l-item .bottom-msg li h2 {
  color: #222;
  font-weight: bold;
  font-size: 0.373333rem;
  padding: 0.066667rem 0;
}

.tab-content .tab-content-l-item .bottom-msg li p {
  color: #333;
}

.tab-content .tab-content-l-item .bottom-msg .now-refund .icon_now_refund {
  display: block;
  width: 0.666667rem;
  height: 0.48rem;
  background: url("../images/icon_now_refund.png") no-repeat;
  -o-background-size: contain;
  background-size: contain;
  margin: 0 0.213333rem 0 0.266667rem;
}

.tab-content .tab-content-l-item .bottom-msg .now-refund span {
  font-size: 0.373333rem;
  color: #dc0000;
  font-weight: bold;
}

.tab-content .tab-content-l-item .bottom-msg .no-border-right {
  border-right: 0;
}

.plan-list {
  padding-bottom: 0.293333rem;
}

.plan-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  margin-top: 0.346667rem;
  padding-left: 0.373333rem;
  font-size: 0.426667rem;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.plan-list li span {
  margin-right: 0.186667rem;
}

.plan-list li em {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.plan-list li .pay-all {
  color: #c00;
  font-weight: bold;
}

.plan-btn {
  padding: 0 0.533333rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.plan-btn a {
  display: block;
  width: 4.266667rem;
  height: 1.093333rem;
  line-height: 1.093333rem;
  background: #1fae78;
  border-radius: 0.133333rem;
  color: #fff;
  font-size: 0.426667rem;
  text-align: center;
}